nav {
    background-color: #808080;
    display: flex;
    justify-content:center;
    position: fixed;
    bottom: 0;
    width:100%;
}

a {
    color: white;
    text-decoration: none;
}

body{
    background-image: url(/CodeChallenge4/images/Pets.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    font-family: "Open Sans";
}

.Title{
    font-size: 3rem;
    justify-content: center;
    font-family: "Gloria Hallelujah";
}

.Subtitle{
    font-size: 1.5rem;
    text-align: center;
}
