nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: goldenrod;
	display: flex;
	justify-content: space-around;
}

nav a {
	width: 20%;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: larger;
	padding: 10px;
}

nav a:hover {
	background-color: darkgoldenrod;
}

.charContainer {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: 45% 45%;
}

.charContainer img {
	width: max-content;
}

#charPageAang {
	background-image: url(images/airbackgrounds.png);
	background-size: cover;
}

#charPageKatara {
	background-image: url(images/waterbackgrounds.png);
	background-size: cover;
}

#charPageToph {
	background-image: url(images/earthbackgrounds.png);
	background-size: cover;
}

#charPageZuko {
	background-image: url(images/firebackgrounds.png);
	background-size: cover;
}

.btnHeader,
.btnFooter {
	width: 100%;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: space-between;
}

.btnContent {
	padding: 5px;
	background-color: rgb(250, 234, 214, 0.94);
	display: none;
}

.btnContent * {
	margin-top: .5rem;
	margin-bottom: .25rem;
}

.btnFooter {
	display: none;
}

main {
	margin-top: 50px;
	display: grid;
	width: 90%;
	padding-left: 5%;
}

body.charactersBackground {
	background-color: aqua;
	background-size: calc(100% / 3);
}

body.AangBody {
	background-image: url(images/airbackgrounds.png);
	background-color: #f49a4a;
	background-size: calc(100% / 7);
}

body.kataraBody {
	background-image: url(images/waterbackgrounds.png);
	background-color: #19365b;
	background-size: calc(100% / 7);
}

body.tophBody {
	background-image: url(images/earthbackgrounds.png);
	background-color: #2e2a13;
	background-size: calc(100% / 7);
}

body.zukoBody {
	background-image: url(images/firebackgrounds.png);
	background-color: #923a1b;
	background-size: calc(100% / 7);
}